body{
    background: url(../img/image\ \(4\).png);
    min-height: 100vh;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    background-color: #27c0c5;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 22px;
    margin-top:25px;
} 

.con{
    margin-top: 10%;
    width: 100%;
}
h1{
    color: white;
}



button:hover{
    transition: 1s;
    color:white;
}


nav{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition-duration: .2s;
}
a:hover{
    color: rgb(56, 55, 131);
}
ul{
    display: flex;
    gap: 42px;
    margin-right: 50px;
    margin-top: 10px;
}

.logo{
    border-radius: 50%;
    height: 30px;
}